* {
  font-family: "Noto Sans Mono", monospace;
}

.wrapper {
  padding: 5px;
}

input {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 5px;
  outline: none;
  border: 2px solid #008cba;
  font-size: 10px;
  text-align: center;
}
input:focus {
  background-color: lightblue;
  transition: 0.3s linear;
}

button {
  margin-top: 5px;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #fff173;
  color: #008cba;
  transition: 0.3s linear;
}

li {
  list-style-type: none;
}
